<!DOCTYPE html>
<html ng-app="todoModule">
<head>
    <title>TODO List</title>
    <script type="text/javascript" src="angular.min.js">
    </script>
</head>
<body>
<div ng-controller="TODOController">
    <input ng-model="newTask">
    <button ng-click="insertTask()" ng-enter>Add</button>
    <div class="todoItems">
        <h2>My TODO List</h2>
        <ul>
            <li ng-repeat="todo in todoList track by $index">
                {{$index+1}}. {{todo.name}}
                <button ng-click="completeTask($index)">Done</button>
            </li>

        </ul>
    </div>
    <div class="removeItems">
        <h2>My Done List</h2>
        <ul>
            <li ng-repeat="done in doneList track by $index">
                {{$index+1}}.{{done.name}}
                <button ng-click="removeTask($index)">Remove</button>
            </li>

        </ul>
    </div>
</div>
</body>
<script>
    var todoModule = angular.module("todoModule", []);
    todoModule.controller("TODOController", function ($scope) {
        $scope.todoList = [];
        $scope.todoList=JSON.parse(localStorage.getItem('todoList'));
        if(!$scope.todoList){
            $scope.todoList = [];
        }
        $scope.insertTask = function () {
            $scope.todoList.push({name: $scope.newTask});
            $scope.newTask = "";
            localStorage.setItem('todoList',JSON.stringify($scope.todoList));
        };
        $scope.doneList = [];
        $scope.doneList=JSON.parse(localStorage.getItem('doneList'));
        if(!$scope.doneList){
            $scope.doneList = [];
        }
        $scope.completeTask = function (index) {
            console.log(1);
            $scope.doneList.push($scope.todoList.splice(index, 1)[0]);
            localStorage.setItem('todoList',JSON.stringify($scope.todoList));
            localStorage.setItem('doneList',JSON.stringify($scope.doneList));
        };
        $scope.removeTask = function (index) {
            $scope.doneList.splice(index, 1);
            localStorage.setItem('doneList',JSON.stringify($scope.doneList));
        };

    });
</script>
</html>